body {
	background:url(../img/homu.jpg);
	text-align:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.mg{
	margin-left:20%;
	margin-right:20%;
	margin-top:2%;
}

.d1{
	background-color:white;
	background-color: rgba(255,255,255,0.4);
	-moz-box-shadow: 3px 3px 3px black; /* 老的 Firefox */
	box-shadow: 3px 3px 3px black;
}

.content{
	text-align:left;
	margin-top:5px;
	border-bottom:dotted;
	border-bottom-color:gray;
	padding:15px;
}

.hide{
	float:right;
	color:black;
	margin-top:-5px;
}

.hide:hover{
	font-weight:bolder;
	color:black;
}

.show{
	margin:20px;
	color:black;
	text-align:center;
}

.show:hover{
	font-weight:bolder;
	color:black;
}

.time{
	float:left;
	color:gray;
	font-style:oblique;
	margin-top:-5px;
}

a{
	font-weight:bolder;
	text-transform: uppercase;
	text-decoration:none;
	color:red;
}

a:hover{
	color:blue;
}

.text{
	color:white;
}

li{
	list-style:none;
}

.foot{
	opacity:0.7;
}

.bolderTxt{
	font-weight:bolder;
}

p {
	margin-top:-3px;
	margin-bottom:20px;
	color:black;
	opacity:1.0;
}